<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<br>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %> |
<%= link_to 'Back', users_path, class: 'btn btn-success' %>

<h3>Random picture: </h3>
<div class="row">
  <div class="col-md-12 d-flex justify-content-center mb-5">
    <%= image_tag @url, height: '250', width: '350' %>
  </div>
</div>

<br>

<h3>All pictures: </h3>
<br>

  <div class="container">
    <div class="row">
    <% @pictures.each do |img| %>
        <div class="col-xs-6 col-md-4">
      <%= image_tag img.url, height: '250', width: '350', class: 'img-thumbnail ' %>
      <%= link_to 'Destroy', user_picture_path(params[:id], img.id),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
      </div>
    <% end %>

</div>
</div>
<br>
<br>

