<div class="row">
  <div class="col">
    <%= link_to 'Back', root_path, class: 'btn btn-success' %> |
    <%= link_to 'Favourites', favourites_path, class: 'btn btn-success' %>
  </div>
</div>
<br>
<div class="row">
<div class="col-3 ">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= "ID: " + @user.id.to_s %></div>
    <div class="card-body">
      <h5 class="card-title"><%= @user.first_name + " " + @user.last_name %></h5>
      <hr>
      <p class="card-text"><%= @user.age.to_s + " years old, " + @user.sex.to_s %></p>
      <p class="card-text"><%= @user.address.city + ", " + @user.address.street + ", " + @user.address.house_member %></p>
    </div>
  </div>
</div>

  <% unless current_user.admin? || current_user.id.to_s == params[:id]  %>
  <div class="col-6  d-flex justify-content-center mb-10px align-self-center">
    <%= image_tag @url, height: '250', width: '300' %>
  </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %>

<br>
<hr>
<br>
<div class="container">
  <div class="row">
    <% @pictures.each do |img| %>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-0">
        <div class="card border-secondary my-2 mx-1" >
      <%= image_tag img.url, class: 'card-img-top' %>
          <div class="card-body text-center">
      <%= link_to 'Destroy', picture_path(img.id),
                  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <%= link_to 'Favourite', favourites_path(:picture_id => img.id), :method => :post %>
          </div>
          <br> <br>
          </div>
        </div>
    <% end %>
  </div>
</div>
