%p#notice= notice
%h1 Favourite Pictures
%table
  %thead
    %tr
      %th Picture
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @favourites.each do |favourite|
      %tr
        %td= image_tag favourite[:url], height: 200, width: 250
        %td= favourite.description
        %td= link_to 'Show', favourite
        %td= link_to 'Edit', edit_favourite_path(favourite)
        %td= link_to 'Delete', favourite, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Favourite', new_favourite_path
