<div class="container">
  <div class="row">
    <div class="col">
      <%= form_tag users_path, :method => :get do %>
        <div>
          <%= label_tag  "First name" %>
        </div>
        <div>
          <%= select_tag(:first, options_for_select([ "asc", "desc" ]), :class => 'form-control') %>
        </div>
        <div>
          <%= submit_tag "Sort", :name => 'save', :class => 'form-control' %>
        </div>
      <% end %>
        </div>
    <div class="col">
      <%= form_tag users_path, :method => :get do %>
        <div>
          <%= label_tag "City" %>
        </div>
        <div>
          <%= select_tag(:city, options_for_select([ "ASC", "DESC" ]), :class => 'form-control') %>
        </div>
        <div>
          <%= submit_tag "Sort", :name => 'save',:class => 'form-control' %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= form_tag users_path, :method => :get do %>
        <div>
          <%= label_tag "Age" %>
        </div>
        <div>
          <%= text_field_tag 'min' %>
          <%= text_field_tag 'max' %>
        </div>
        <div>
          <%= submit_tag "Filter", :name => 'save', :class => 'form-control' %>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= form_tag users_path, :method => :get do %>
        <%= check_box_tag "male" %> male
        <%= check_box_tag "female" %> female
      <div>
        <%= submit_tag "Filter", :name => 'save', :class => 'form-control' %>
      </div>
      <% end %>
    </div>

    <div class="col">
      <div class="card float-right" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Users: <%= @count %></li>
          <li class="list-group-item">Male: <%= @count_male %></li>
          <li class="list-group-item">Female: <%= @count_female %></li>
          <li class="list-group-item">Average age: <%= @average.round(2) %></li>
          <li class="list-group-item">Min age: <%= @minimum %></li>
          <li class="list-group-item">Max age: <%= @maximum %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

