<!DOCTYPE html>
<html>
  <head>
    <title>PictureApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar sticky-top navbar-light bg-light" style="background-color: #98FB98;">
    <span class="navbar-brand mb-0 h1">
     <img src="https://i.pinimg.com/originals/72/a4/13/72a41303ac51df6706113a0c4088c6f2.png"
          width="90" height="50" class="d-inline-block align-top" >
    </span>
    <div class="nav-item dropdown navbar-brand mb-0 h1">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cats Club
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">New User</a>
      </div>
    </div>
    </nav>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
